bot = "WorstBot"

[discord]
token = ""
owners = []
webhook = ""
guild = ""
extension_path = "" # __main__ as CWD
emoji_server_ids = []

[discord.toggles]
debug = false
tasks = true
maintenance = false


[twitch]
client = ""
secret = ""


[github]
secret = ""


[postgres]
db = ""
host= ""
user = ""
password = ""


[lavalink]
password = ""

[lavalink.spotify]
id = ""
secret = ""

[mystbin]
route = "https://api.mystb.in"
token = ""
