version = 1
disable_existing_loggers = false

[formatters]
    [formatters.simple]
        format = '[{asctime}] [{levelname:<8}] {name}: {message}'
        datefmt = '%Y-%m-%d %H:%M:%S'
        style = "{"
    [formatters.colour]
        "()" = "discord.utils._ColourFormatter"

[handlers]
    [handlers.stderr]
        class = "logging.StreamHandler"
        formatter = "colour"
        level = "WARNING"
        stream = "ext://sys.stderr"
    [handlers.file]
        class = "logging.handlers.RotatingFileHandler"
        formatter = "simple"
        level = "INFO"
        filename = "WorstBot/logs/bot.log"
        encoding = "utf-8"
        maxBytes = 10_000_000     
    [handlers.queue_handler]
        class = "WorstBot.core.utils.log_handler.QueueHandler"
        handlers = ["file", "stderr"]
        respect_handler_level = true
        webhook = "https://discord.com/api/webhooks/1207810300573651024/ztgzRNCp9UiTsmEpQ4-YHkeprmb7yPOLgFyiBJUUqVPempL0WdyND5g_PbGwYeXJgj1O"

[loggers]
    [loggers.root]
        level = "DEBUG"
        handlers = ["queue_handler"]
    [loggers.discord.gateway]
        level = "ERROR"
        handlers = ["queue_handler"]
    [loggers.discord.voice_client]
        level = "ERROR"
        handlers = ["queue_handler"]
    [loggers.matplotlib.category]
        level = "ERROR"
        handlers = ["queue_handler"]